NEXT_PUBLIC_APP_NAME='Next Web'
NEXT_PUBLIC_APP_DESCRIPTION='Realtime website'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

NEXT_PUBLIC_API_URL='http://localhost:8000'
NEXT_PUBLIC_WS_URL='http://localhost:9090'

#AUTH
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="chj2BkfZ9CM37lgnLEORkaNj7GakzY1EJouC7uNF+EI="